.cruise {
  max-width: 260px;
  max-height: 390px;
  position: relative;

  &:hover .cruise__description {
    display: block;
  }

  &:hover img {
    display: none;
  }

  &:hover h3 {
    bottom: 314px;
    left: 25px;
  }
}

.cruise h3 {
  position: absolute;
  bottom: 5px;
  left: 29px;
  color: $light;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
}

.cruise img {
  display: block;
  height: 386px;
  width: 100%;
}

.cruise__description {
  padding-top: 70px;
  padding-right: 24px;
  padding-bottom: 35px;
  padding-left: 24px;
  background-color: $dark;
  color: $light;
  text-align: left;
  height: 386px;
  width: 100%;
  display: none;
}

.cruise__text h4 {
  margin: 0;
  margin-bottom: 2px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.cruise__text p {
  margin: 0;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;

  &:last-child {
    margin-bottom: 25px;
  }
}

.cruise__button {
  padding-top: 9px;
  padding-bottom: 9px;
  display: block;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  background-color: $light;
  color: $dark;
}

@media (max-width: $tablet-max) {
  .cruise {
    max-width: 309px;
    max-height: 386px;

    &:hover h3 {
      bottom: 312px;
      left: 34px;
    }
  }

  .cruise__description {
    padding-left: 35px;
    padding-right: 35px;
  }

  .cruise h3 {
    bottom: 7px;
    left: 35px;
  }
}


@media (max-width: $mobile-max) {
  .cruise {
    max-width: 270px;

    &:hover h3 {
      left: 25px;
    }
  }

  .cruise img {
    min-width: 270px;
    height: 386px;
    min-height: 386px;
  }

  .cruise__description {
    padding-left: 26px;
    padding-right: 26px;
    min-width: 270px;
    min-height: 386px;
  }

  .cruise__text h4 {
    margin-bottom: 1px;
  }

  .cruise h3 {
    bottom: 0;
    left: 25px;
  }
}
