.cruise {
  max-width: 260px;
  min-width: 190px;
  min-height: 386px;
  max-height: 460px;
  position: relative;

  &:hover .cruise__description,
  &:focus .cruise__description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &:hover img,
  &:focus img {
    display: none;
  }

  &:hover h3,
  &:focus h3 {
    top: 8%;
    left: 9%;
  }
}

.cruise h3 {
  margin: 0;
  padding-right: 10px;
  position: absolute;
  top: 87%;
  left: 12%;
  color: $light;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
}

.cruise img {
  display: block;
  min-height: 386px;
  height: 100%;
  width: 100%;
}

.cruise__description {
  padding-top: 70px;
  padding-right: 9.23%;
  padding-bottom: 13.08%;
  padding-left: 9.23%;
  background-color: $dark;
  color: $light;
  text-align: left;
  height: 386px;
  max-height: 386px;
  width: 100%;
  display: none;
}

.cruise__text h4 {
  margin: 0;
  margin-bottom: 2px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.cruise__text p {
  margin: 0;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.cruise__button {
  @include hoveractive;
  padding-top: 9px;
  padding-bottom: 9px;
  display: block;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  background-color: $light;
  color: $dark;
}

@media (max-width: $tablet-max) {
  .cruise {
    max-width: 309px;
    max-height: 386px;

    &:hover h3 {
      left: 34px;
    }
  }

  .cruise__description {
    padding-left: 35px;
    padding-right: 35px;
  }

  .cruise h3 {
    left: 35px;
  }
}


@media (max-width: $mobile-max) {
  .cruise {
    max-width: 270px;

    &:hover h3 {
      left: 25px;
    }

    &:focus {
      outline: 3px solid orange;
    }
  }

  .cruise img {
    min-width: 270px;
    height: 386px;
    min-height: 386px;
  }

  .cruise__description {
    padding-left: 26px;
    padding-right: 26px;
    min-width: 270px;
    min-height: 386px;
  }

  .cruise__text h4 {
    margin-bottom: 1px;
  }

  .cruise h3 {
    top: 84%;
    left: 25px;
  }
}
