.features {
  padding-top: 110px;
  padding-bottom: 80px;
  background-color: #e3ecf6;
  background-image: url("../img/bg-features-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: $dark;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/bg-features-desktop@2x.jpg");
  }
}

.features h2 {
  margin: 0;
  margin-bottom: 49px;
  font-size: 28px;
  font-weight: 600;
  line-height: 42px;
  text-align: center;
}

.features__list {
  @include clearlist;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.features__item {
  margin-bottom: 40px;
  flex-basis: 31%;
  max-width: 360px;

  &:nth-child(3n) {
    margin-right: 0;
  }
}

@media (max-width: $tablet-max) {
  .features {
    padding-top: 90px;
    padding-bottom: 60px;
  }

  .features h2 {
    font-size: 26px;
    line-height: 39px;
  }

  .features__item {
    flex-basis: 30%;
    min-width: 206px;

    &:nth-child(3n) {
      margin-right: 0;
    }
  }
}

@media (max-width: $mobile-max) {
  .features {
    padding-top: 57px;
    padding-bottom: 64px;
  }


  .features h2 {
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 36px;
  }

  .features__list {
    flex-direction: column;
    align-items: center;
  }

  .features__item {
    margin-right: 0;
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
