.features {
  padding-top: 110px;
  padding-bottom: 120px;
  background-color: #e3ecf6;
  background-image: url("../../img/bg-features-desktop.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.features__title {
  margin: 0;
  margin-bottom: 49px;
  text-align: center;
}

.features__list {
  @include clearlist;
  display: flex;
  justify-content: space-between;
}

.features__item {
  flex-basis: 33%;
  margin-right: 40px;

  &:last-child {
    margin-right: 0;
  }
}

@media (max-width: $tablet-max) {
  .features {
    padding-top: 90px;
    padding-bottom: 100px;
  }

  .features__item {
    margin-right: 30px;

    &:last-child {
      margin-right: 0;
    }
  }
}

@media (max-width: $mobile-max) {
  .features {
    padding-top: 57px;
    padding-bottom: 64px;
  }


  .features__title {
    margin-bottom: 30px;
  }

  .features__list {
    flex-direction: column;
  }

  .features__item {
    margin-right: 0;
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
