.footer {
  padding-top: 50px;
  padding-bottom: 47px;
  background-color: $dark;
}

.footer__wrapper {
  display: flex;
  align-items: center;
}

.footer__social {
  margin-left: auto;
}

.footer__logo {
  margin-right: 25px;
}

@media (max-width: $mobile-max) {
  .footer {
    padding-top: 40px;
    padding-bottom: 36px;
  }

  .footer__wrapper {
    flex-direction: column;
    align-items: start;
  }

  .footer__logo {
    margin-bottom: 24px;
  }

  .footer__nav {
    margin-bottom: 26px;
  }

  .footer__social {
    margin: 0;
  }
}
