.header {
  padding-top: 35px;
  padding-bottom: 277px;
  width: 100%;
  background-color: #003067;
  background-image: url("../img/bg-header-desktop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/bg-header-desktop@2x.jpg");
  }
}

.header__logo {
  margin-right: 150px;
}

.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__button {
  display: none;
}

.header__text {
  padding-top: 194px;
  padding-left: 95px;
  color: $light;
}

.header__text h1 {
  margin: 0;
  margin-bottom: 12px;
  font-size: 54px;
  font-weight: 700;
  line-height: 66px;
}

.header__text p {
  margin: 0;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

@media (max-width: $tablet-max) {
  .header {
    padding-top: 30px;
    padding-bottom: 275px;
  }

  .header__logo {
    margin-right: 100px;
  }

  .header__text {
    padding-top: 214px;
    padding-left: 0;
  }

  .header__text h1 {
    font-size: 50px;
    line-height: 61px;
  }

  .header__text p {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
  }
}

@media (max-width: $mobile-max) {
  .header {
    padding-top: 20px;
    padding-bottom: 177px;
    position: relative;

    &--open {
      padding-top: 256px;
    }

    &--nojs {
      background-position-y: bottom;
    }
  }

  .header__menu {
    flex-wrap: wrap;
    align-items: start;

    &--nojs {
      margin-top: -20px;
      margin-bottom: 120px;
      padding-top: 20px;
      padding-left: 15px;
      padding-right: 15px;
      width: auto;
      background-color: $light;
    }

    &--open {
      margin: 0;
      padding-top: 20px;
      padding-left: 15px;
      padding-right: 15px;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      background-color: $light;
    }
  }

  .header__text h1 {
    font-size: 36px;
    line-height: 45px;
  }

  .header__text p {
    font-size: 16px;
    padding-right: 50px;
  }

  .header__button {
    padding: 0;
    margin-top: 5px;
    position: relative;
    display: block;
    background-color: transparent;
    border: 0;
    cursor: pointer;

    &--on {
      width: 24px;
      height: 14px;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 24px;
        height: 2px;
        background-color: $light;
        box-shadow: 0 7px 0 0 $light, 0 14px 0 0 $light;
      }
    }

    &--close {
      width: 15px;
      height: 15px;

      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 5px;
        right: 0;
        width: 15px;
        height: 2px;
        background-color: $dark;
      }

      &::before {
        transform: rotate(45deg);
        box-shadow: none;
      }

      &::after {
        transform: rotate(-45deg);
      }
    }

    &--nojs {
      display: none;
    }
  }

  .header__text {
    padding-top: 131px;
    max-width: 265px;
  }
}
