.offers {
  padding-top: 110px;
  padding-bottom: 91px;
  padding-left: 15px;
  padding-right: 15px;
}

.offers h2 {
  margin: 0;
  margin-bottom: 49px;
  text-align: center;
}

.offers__list {
  @include clearlist;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.offers__item {
  margin: 0;
  margin-bottom: 30px;
  flex-basis: 23%;
}

@media (max-width: $tablet-max) {
  .offers {
    padding-top: 90px;
    padding-bottom: 70px;
  }

  .offers__list {
    justify-content: space-around;
  }

  .offers__item {
    flex-basis: 47.7%;
    margin-right: 30px;

    &:nth-child(2n) {
      margin-right: 0;
    }
  }
}

@media (max-width: $mobile-max) {
  .offers {
    padding-top: 57px;
    padding-bottom: 35px;
    padding-right: 0;
    padding-left: 0;
  }

  .offers h2 {
    margin-bottom: 30px;
  }

  .offers__list {
    flex-direction: column;
    align-items: center;
  }

  .offers__item {
    margin-right: 0;
  }
}
