.promo {
  padding-top: 120px;
  padding-bottom: 120px;
  display: flex;
  align-items: center;
}

.promo__description {
  margin-right: 74px;
  flex-basis: 50%;
  color: $dark;
}

.promo__description h2 {
  margin: 0;
  margin-bottom: 25px;
  font-size: 28px;
  font-weight: 600;
  line-height: 42px;
}

.promo__description p {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.promo__wrapper {
  position: relative;
  flex-basis: 53%;
  height: 301px;
}

.promo__photo {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 560px;
  height: 301px;
  object-fit: cover;
  object-position: left;
}

@media (max-width: $tablet-max) {
  .promo {
    padding-top: 100px;
    padding-bottom: 63px;
    align-items: start;
    justify-content: space-between;
  }

  .promo__description {
    margin-right: 0;
    flex-basis: auto;
  }

  .promo__description h2 {
    margin-bottom: 12px;
    margin-top: -10px;
    padding-right: 130px;
    font-size: 26px;
    line-height: 39px;
  }

  .promo__description p {
    padding-right: 34px;
  }

  .promo__wrapper {
    min-width: 324px;
  }

  .promo__photo {
    top: 0;
    transform: none;
    width: 324px;
    height: 264px;
    object-position: -50px;
  }
}

@media (max-width: $mobile-max) {
  .promo {
    padding-top: 66px;
    padding-bottom: 68px;
    flex-direction: column;
  }

  .promo__wrapper {
    width: 290px;
    min-width: 290px;
    min-height: 186px;
    align-self: center;
  }

  .promo__photo {
    width: 290px;
    height: 186px;
    object-position: center;
  }

  .promo__description {
    margin-right: 0;
    margin-bottom: 30px;
  }

  .promo__description h2 {
    padding-right: 85px;
    font-size: 24px;
    line-height: 36px;
  }

  .promo__description p {
    padding-right: 0;
  }
}
