html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*:focus {
  outline: 3px solid orangered;
  border-radius: 0;
}

body {
  font-family: "Montserrat", "Arial", sans-serif;
  min-width: $mobile-min;
  background-color: $light;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
